# Ignore generated images
*.png

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Python package build artifacts
*.egg-info/
*.whl
*.so

# Ignore Rust build artifacts
Cargo.lock
target/

# Ignore WebAssembly build artifacts
pkg/
wasm-build/
*.wasm

# Ignore virtual environment
.venv/
venv/