# Ignore generated images
*.png
!src/kinyu/floating_strike_warrant/docs/timeseries_plot.png

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Python package build artifacts
*.egg-info/
*.whl
*.so
build/

# Ignore Rust build artifacts
Cargo.lock
target/

# Ignore WebAssembly build artifacts
src/**/pkg/
src/**/wasm-build/
src/**/*.wasm

# Ignore virtual environment
.venv/
venv
